@media print {
  body * {
    visibility: hidden;
  }

  .print-only,
  .print-only * {
    visibility: visible;
  }

  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .screen-only {
    display: none !important;
  }

  @page {
    size: 80mm auto;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  @supports (color-adjust: precise) {
    * {
      color-adjust: precise;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

@media screen {
  .print-only {
    display: none;
  }

  .screen-only {
    display: flex;
  }
}
