@media print {
  body * {
    visibility: hidden;
  }

  .print-only,
  .print-only * {
    visibility: visible;
  }

  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .screen-only {
    display: none !important;
  }

  @page {
    size: 58mm auto;
    margin: 0;
  }
}

@media screen {
  .print-only {
    display: none;
  }

  .screen-only {
    display: flex;
  }
}
